<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.shsnc.base.user.mapper.OrganizationStructureModelMapper">

    <resultMap id="BaseResultMap" type="com.shsnc.base.user.model.OrganizationStructureModel">
        <id column="structure_id" property="structureId" jdbcType="BIGINT"/>
        <result column="ancestor_id" property="ancestorId" jdbcType="BIGINT"/>
        <result column="descendant_id" property="descendantId" jdbcType="BIGINT"/>
        <result column="level" property="level" jdbcType="INTEGER"/>
    </resultMap>

    <sql id="BaseColumn">
        structure_id, ancestor_id, descendant_id, level
    </sql>

    <select id="selectByPrimaryKey" resultMap="BaseResultMap">
        SELECT
            <include refid="BaseColumn"/>
        FROM user_organization_structure
        WHERE structure_id = #{structureId}
    </select>

    <select id="getParentIdByOrganizationId" resultType="java.lang.Long">
        SELECT
            ancestor_id
        FROM
            user_organization_structure
        WHERE descendant_id = #{organizationId} AND level = 1
    </select>

    <delete id="deleteByPrimaryKey">
        DELETE FROM user_organization_structure
        WHERE structure_id = #{structureId}
    </delete>
    <delete id="deleteOldRelation">
        DELETE FROM user_organization_structure
        WHERE ancestor_id IN (
            SELECT * FROM (
                SELECT ancestor_id
                FROM user_organization_structure
                <![CDATA[WHERE descendant_id=#{organizationId} AND ancestor_id<>descendant_id ]]>
            ) a
        )
        AND descendant_id IN (
            SELECT * FROM (
                SELECT descendant_id
                FROM user_organization_structure
                WHERE ancestor_id=#{organizationId}
            ) a
        )
    </delete>

    <delete id="deleteOrganizationStructure">
        DELETE FROM user_organization_structure WHERE ancestor_id=#{organizationId} OR descendant_id=#{organizationId}
    </delete>

    <delete id="deleteOrganizationAndChildrenRelation">
        DELETE FROM user_organization_structure
        WHERE ancestor_id IN (
            SELECT * FROM (
                SELECT descendant_id FROM user_organization_structure WHERE ancestor_id=#{organizationId}
            ) a
        )
        OR descendant_id IN (
            SELECT * FROM (
                SELECT descendant_id FROM user_organization_structure WHERE ancestor_id=#{organizationId}
            ) a
        )
    </delete>

    <insert id="insert" useGeneratedKeys="true" keyProperty="structureId">
        INSERT INTO user_organization_structure (
            ancestor_id,
            descendant_id,
            level
        )
        VALUES (
            #{ancestorId},
            #{descendantId},
            #{level}
        )
    </insert>

    <insert id="insertSelective" useGeneratedKeys="true" keyProperty="structureId">
        INSERT INTO user_organization_structure
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="structureId != null">
                structure_id,
            </if>
            <if test="ancestorId != null">
                ancestor_id,
            </if>
            <if test="descendantId != null">
                descendant_id,
            </if>
            <if test="level != null">
                level,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="structureId != null">
                #{structureId},
            </if>
            <if test="ancestorId != null">
                #{ancestorId},
            </if>
            <if test="descendantId != null">
                #{descendantId},
            </if>
            <if test="level != null">
                #{level},
            </if>
        </trim>
    </insert>

    <insert id="insertOrganizationStructure">
        INSERT INTO user_organization_structure(ancestor_id,descendant_id,level)
            SELECT ancestor_id,#{organizationId},level+1
            FROM user_organization_structure
            WHERE descendant_id=#{parentId}
            UNION ALL
            SELECT #{organizationId},#{organizationId}, 0;
    </insert>
    <insert id="insertNewRelation">
        INSERT INTO user_organization_structure(ancestor_id,descendant_id,level)
            SELECT ugs1.ancestor_id,ugs2.descendant_id,ugs1.level+ugs2.level+1
            FROM user_organization_structure ugs1, (SELECT descendant_id,level FROM user_organization_structure WHERE ancestor_id=#{organizationId}) ugs2
            WHERE ugs1.descendant_id=#{parentId}
    </insert>

    <update id="updateByPrimaryKeySelective">
        UPDATE user_organization_structure
        <set>
            <if test="ancestorId != null">
                ancestor_id = #{ancestorId},
            </if>
            <if test="descendantId != null">
                descendant_id = #{descendantId},
            </if>
            <if test="level != null">
                level = #{level},
            </if>
        </set>
        WHERE structure_id = #{structureId,jdbcType=BIGINT}
    </update>

    <update id="updateByPrimaryKey">
        UPDATE user_organization_structure
        SET ancestor_id = #{ancestorId},
            descendant_id = #{descendantId},
            level = #{level}
        WHERE structure_id = #{structureId}
    </update>

    <update id="updateChildrenLevel">
        UPDATE user_organization_structure SET level=level-1
        WHERE ancestor_id IN (
            SELECT * FROM (
                SELECT ancestor_id FROM user_organization_structure WHERE descendant_id=#{organizationId}
            ) a
        )
        AND descendant_id IN (
            SELECT * FROM (
                SELECT descendant_id FROM user_organization_structure WHERE ancestor_id=#{organizationId}
            ) a
        );
    </update>

</mapper>