<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.shsnc.base.user.mapper.UserGroupResourceGroupRelationModelMapper" >

    <resultMap id="BaseResultMap" type="com.shsnc.base.user.model.UserGroupResourceGroupRelationModel" >
        <id column="relation_id" property="relationId" jdbcType="BIGINT" />
        <result column="user_group_id" property="userGroupId" jdbcType="BIGINT" />
        <result column="resource_group_id" property="resourceGroupId" jdbcType="BIGINT" />
    </resultMap>

    <sql id="BaseColumn" >
        relation_id, 
        user_group_id, 
        resource_group_id
    </sql>

    <select id="selectByPrimaryKey" resultMap="BaseResultMap" >
        SELECT 
            <include refid="BaseColumn" />
        FROM user_group_resource_group_relation
        WHERE relation_id = #{relationId,jdbcType=BIGINT}
    </select>
    <select id="getResourceGroupIdsByUserGroupId" resultType="java.lang.Long">
        SELECT DISTINCT resource_group_id
        FROM user_group_resource_group_relation
        WHERE user_group_id = #{userGroupId,jdbcType=BIGINT}
    </select>

    <delete id="deleteByPrimaryKey" >
        DELETE FROM user_group_resource_group_relation
        WHERE relation_id = #{relationId,jdbcType=BIGINT}
    </delete>
    <delete id="deleteByUserGroupId">
        DELETE FROM user_group_resource_group_relation
        WHERE user_group_id = #{userGroupId,jdbcType=BIGINT}
    </delete>

    <insert id="insert" useGeneratedKeys="true" keyProperty="relationId" >
        INSERT INTO user_group_resource_group_relation (user_group_id, resource_group_id)
        VALUES (#{userGroupId,jdbcType=BIGINT}, #{resourceGroupId,jdbcType=BIGINT})
    </insert>

    <insert id="insertSelective" useGeneratedKeys="true" keyProperty="relationId" >
        INSERT INTO user_group_resource_group_relation
        <trim prefix="(" suffix=")" suffixOverrides="," >
            <if test="userGroupId != null" >
                user_group_id,
            </if>
            <if test="resourceGroupId != null" >
                resource_group_id,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides="," >
            <if test="userGroupId != null" >
                #{userGroupId,jdbcType=BIGINT},
            </if>
            <if test="resourceGroupId != null" >
                #{resourceGroupId,jdbcType=BIGINT},
            </if>
        </trim>
    </insert>
    <insert id="insertRelationList">
        INSERT INTO user_group_resource_group_relation (user_group_id, resource_group_id)
        VALUES (
            <foreach collection="userGroupResourceGroupRelationModels" item="userGroupResourceGroupRelationModel" separator="),(">
                #{userGroupResourceGroupRelationModel.userGroupId,jdbcType=BIGINT}, #{userGroupResourceGroupRelationModel.resourceGroupId,jdbcType=BIGINT}
            </foreach>
        )
    </insert>

    <update id="updateByPrimaryKeySelective" >
        UPDATE user_group_resource_group_relation
        <set >
            <if test="userGroupId != null" >
                user_group_id = #{userGroupId,jdbcType=BIGINT},
            </if>
            <if test="resourceGroupId != null" >
                resource_group_id = #{resourceGroupId,jdbcType=BIGINT},
            </if>
        </set>
        WHERE relation_id = #{relationId,jdbcType=BIGINT}
    </update>

    <update id="updateByPrimaryKey" >
        UPDATE user_group_resource_group_relation
        SET user_group_id = #{userGroupId,jdbcType=BIGINT},
          resource_group_id = #{resourceGroupId,jdbcType=BIGINT}
        WHERE relation_id = #{relationId,jdbcType=BIGINT}
    </update>
      
</mapper>