<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.shsnc.base.authorization.mapper.AuthorizationResourceAuthModelMapper">

    <sql id="tableName">authorization_resource_auth</sql>

    <sql id="Base_Column">
        id,
        resource_type,
        resource_id,
        property_id,
        auth_type,
        auth_value
    </sql>

    <insert id="addAuthorizationResourceAuthModel">
        INSERT INTO
        <include refid="tableName"/>
        (
        resource_type,
        resource_id,
        property_id,
        auth_type,
        auth_value
        )
        VALUES
        (#{item.resourceType},#{item.resourceId},#{item.propertyId},#{item.authType},#{item.authValue})
    </insert>

    <insert id="addBatchAuthorizationResourceAuthModel">
        INSERT INTO
        <include refid="tableName"/>
        (
        resource_type,
        resource_id,
        property_id,
        auth_type,
        auth_value
        )
        VALUES
        <foreach collection="list" item="item" index="index" separator=",">
            (#{item.resourceType},#{item.resourceId},#{item.propertyId},#{item.authType},#{item.authValue})
        </foreach>
    </insert>

    <delete id="deleteResourceDataAuthorization">
        DELETE FROM
        <include refid="tableName"/>
        WHERE 1 = 1
        AND resource_type = #{resourceType}
        AND resource_id = #{resourceId}
        AND auth_type = #{authType}
        AND auth_value = #{authValue}
    </delete>

    <select id="getUserDataAuthorization" resultType="com.shsnc.base.authorization.bean.UserDataAuthorization">
        SELECT
        a.resource_type resourceType,
        a.resource_id resourceId,
        GROUP_CONCAT(p.property_value SEPARATOR ',') propertyValues
        FROM
        authorization_resource_auth a INNER JOIN authorization_resource_property p ON a.property_id = p.property_id
        WHERE
        (a.auth_type = 1 AND a.auth_value = #{userId})
        <if test="roleIds != null and roleIds.size > 0">
            OR (a.auth_type = 2 AND a.auth_value IN
            <foreach collection="roleIds" item="roleId" open="(" close=")" separator=",">
                #{roleId}
            </foreach>
            )
        </if>
        GROUP BY a.resource_type,a.resource_id
<!--
        SELECT * FROM authorization_resource_auth
        SELECT
            b.resource_type,
            b.resource_id,
            SUM(p.property_value) property_value
        FROM (
                    SELECT
                        resource_type,
                        resource_id,
                        property_id
                    FROM authorization_resource_auth
                    WHERE
                    (auth_type = 1 AND auth_value = #{userId})
                    <if test="roleIds != null and roleIds.size > 0">
                     OR (auth_type = 2 AND auth_value IN
                          <foreach collection="roleIds" item="roleId" open="(" close=")" separator=",">
                             #{roleId}
                          </foreach>
                        )
                    </if>
                    GROUP BY resource_type,resource_id,property_id
        ) b INNER JOIN
        authorization_resource_property p ON b.property_id = p.parent_id
        GROUP BY resource_type,resource_id-->
    </select>


</mapper>