<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.shsnc.base.authorization.mapper.AuthorizationInfoModelMapper">

    <resultMap id="BaseResultMap" type="com.shsnc.base.authorization.model.AuthorizationInfoModel">
        <id column="authorization_id" jdbcType="BIGINT" property="authorizationId"/>
        <result column="authorization_name" jdbcType="VARCHAR" property="authorizationName"/>
        <result column="authorization_code" jdbcType="VARCHAR" property="authorizationCode"/>
        <result column="authorization_status" jdbcType="VARCHAR" property="authorizationStatus"/>
        <result column="description" jdbcType="VARCHAR" property="description"/>
        <result column="create_time" jdbcType="VARCHAR" property="createTime"/>
    </resultMap>

    <sql id="BaseColumn">
        authorization_id,authorization_name,authorization_code,authorization_status,description,create_time
    </sql>

    <!-- 表名用变量表示 -->
    <sql id="tableName">authorization_info</sql>

    <!-- SQL语句格式美化，关键字用大写字母 -->
    <insert id="addAuthorizationInfo" >
        INSERT INTO
        <include refid="tableName"/>
        (
        authorization_name,
        authorization_code,
        authorization_status,
        description,
        create_time
        )
        VALUES
        (
        #{authorizationName},
        #{authorizationCode},
        #{authorizationStatus},
        #{description},
        #{createTime}
        )
    </insert>

    <!-- SQL语句格式美化，关键字用大写字母 -->
    <update id="editAuthorizationInfo">
        UPDATE
        <include refid="tableName"/>
        SET
        authorization_name = #{authorizationName},
        authorization_code = #{authorizationCode},
        authorization_status = #{authorizationStatus}
        <if test="description !=null and description !=''">
            ,description = #{description}
        </if>
        WHERE authorization_id = #{authorizationId }
    </update>

    <update id="editAuthorizationStatus">
        UPDATE
        <include refid="tableName"/>
        SET
        authorization_status = #{authorizationStatus}
        WHERE authorization_id = #{authorizationId }
    </update>

    <delete id="batchDeleteAuthorization">
        DELETE FROM
        <include refid="tableName"/>
        WHERE authorization_id in
        <foreach item="authorizationId" collection="list" open="(" separator="," close=")">
            #{authorizationId}
        </foreach>
    </delete>
    
    <insert id="insertBatch"  useGeneratedKeys="true" keyProperty="authorizationId"
            keyColumn="authorization_id">
           INSERT INTO
	        <include refid="tableName"/>
	        (
	        authorization_name,
	        authorization_code,
	        authorization_status,
	        description,
	        create_time
	        )
	        VALUES
	        <foreach item="authorizationInfo" collection="authorizationInfos"  separator=",">
            	(#{authorizationInfo.authorizationName},
		        #{authorizationInfo.authorizationCode},
		        #{authorizationInfo.authorizationStatus},
		        #{authorizationInfo.description},
		        UNIX_TIMESTAMP(NOW())*1000)
           </foreach>
    </insert>

    <select id="getAuthorizationByAuthorizationId" resultMap="BaseResultMap">
        SELECT
        *
        FROM
        <include refid="tableName"/>
        WHERE authorization_id = #{authorizationId }
    </select>

    <select id="getAuthorizationByAuthorizationCode" resultMap="BaseResultMap">
        SELECT
        *
        FROM
        <include refid="tableName"/>
        WHERE authorization_code = #{authorizationCode }
    </select>

    <select id="getAuthorizationList" resultType="com.shsnc.base.authorization.model.AuthorizationInfoModel">
        SELECT
        *
        FROM
        <include refid="tableName"/>
        WHERE 1 = 1
        <include refid="conditionSql"/>
    </select>

    <select id="getListByAuthorizationName" resultType="com.shsnc.base.authorization.model.AuthorizationInfoModel">
        SELECT
        *
        FROM
        <include refid="tableName"/>
        WHERE authorization_name = #{authorizationName}
    </select>

    <select id="getListByAuthorizationCode" resultType="com.shsnc.base.authorization.model.AuthorizationInfoModel">
        SELECT
        *
        FROM
        <include refid="tableName"/>
        WHERE authorization_code = #{authorizationCode}
    </select>

    <sql id="pageSql">
        <if test="pagination != null">
            LIMIT #{pagination.start}, #{pagination.pagesize}
        </if>
    </sql>

    <sql id="orderSql">
        <if test="pagination != null and pagination.sorting != null">
            ORDER BY #{pagination.sorting}
        </if>
    </sql>

    <sql id="conditionSql">
        <where>
            <if test="condition != null">
                <if test="condition.authorizationName !=null and condition.authorizationName !=''">
                    AND authorization_name LIKE CONCAT('%', #{condition.authorizationName}, '%')
                </if>
                <if test="condition.authorizationCode !=null and condition.authorizationCode !=''">
                    AND authorization_code LIKE CONCAT('%', #{condition.authorizationCode}, '%')
                </if>
                <if test="condition.authorizationStatus !=null and condition.authorizationStatus !=''">
                    AND authorization_status = #{condition.authorizationStatus}
                </if>
                <if test="condition.description !=null and condition.description !=''">
                    AND description LIKE CONCAT('%', #{condition.description}, '%')
                </if>
            </if>
        </where>
    </sql>

    <select id="getTotalCountByCondition" resultType="java.lang.Integer">
        SELECT
        COUNT(1)
        FROM
        <include refid="tableName"/>
        <include refid="conditionSql"/>
    </select>

    <select id="getPageByCondition" resultMap="BaseResultMap">
        SELECT
        <include refid="BaseColumn"/>
        FROM
        <include refid="tableName"/>
        <include refid="conditionSql"/>
        <include refid="orderSql"/>
        <include refid="pageSql"/>
    </select>

    <select id="getAuthorizationCodeList" resultType="java.lang.String">
        SELECT
        authorization_code
        FROM
        <include refid="tableName"/>
        WHERE authorization_status = 1
    </select>

</mapper>