<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.shsnc.base.authorization.mapper.AuthorizationRoleRelationModelMapper">

    <!-- 表名用变量表示 -->
    <sql id="tableName">authorization_role_relation</sql>

    <sql id="Base_Column">
        id,
        role_id,
        authorization_id
    </sql>

    <insert id="addAuthorizationRoleRelationModel" useGeneratedKeys="true" keyProperty="id" keyColumn="id">
        INSERT INTO
        <include refid="tableName"/>
        (
        role_id,
        authorization_id
        )
        VALUES
        (
        #{roleId},
        #{authorizationId}
        )
    </insert>

    <insert id="batchAddAuthorizationRoleRelationModel">
        INSERT INTO
        <include refid="tableName"/>
        (
        role_id,
        authorization_id
        )
        VALUES
        <foreach collection="list" item="item" index="index" separator="," >
            (#{item.roleId},#{item.authorizationId})
        </foreach>
    </insert>

    <select id="getAuthorizationIdByRoleId" resultType="java.lang.String">
        SELECT
        i.authorization_code
        FROM
        authorization_role_relation r INNER JOIN authorization_info i
        ON r.authorization_id = i.authorization_id
        WHERE r.role_id = #{roleId }
    </select>

    <select id="getRoleIdByAuthorizationId" resultType="java.lang.Integer">
        SELECT
        role_id
        FROM
        <include refid="tableName"/>
        WHERE authorization_id = #{authorizationId }
    </select>

    <delete id="deleteAuthorizationRoleRelationModelByRoleId">
        DELETE FROM
        <include refid="tableName"/>
        WHERE role_id = #{roleId }
    </delete>

    <select id="getAuthorizationIdByRoleIds" resultType="java.lang.Long">
        SELECT
        i.authorization_id
        FROM
        authorization_role_relation r INNER JOIN authorization_info i
        ON r.authorization_id = i.authorization_id
        WHERE i.authorization_status = 1 AND  r.role_id IN
        <foreach collection="list" item="roleId" index="index" separator="," open="(" close=")">
            #{roleId }
        </foreach>
    </select>

    <select id="getAuthorizationCodeByRoleIds" resultType="java.lang.String">
        SELECT
          i.authorization_code
        FROM
        authorization_role_relation r INNER JOIN authorization_info i
        ON r.authorization_id = i.authorization_id
        WHERE i.authorization_status = 1 AND
        r.role_id IN
        <foreach collection="list" item="roleId" index="index" separator="," open="(" close=")">
            #{roleId }
        </foreach>
    </select>


</mapper>