<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.shsnc.base.authorization.mapper.AuthorizationResourcePropertyModelMapper">

    <!-- 表名用变量表示 -->
    <sql id="tableName">authorization_resource_property</sql>

    <resultMap id="BaseResultMap" type="com.shsnc.base.authorization.model.AuthorizationResourcePropertyModel">
        <id column="property_id" jdbcType="BIGINT" property="propertyId"/>
        <result column="resource_type_code" jdbcType="VARCHAR" property="resourceTypeCode"/>
        <result column="resource_type_name" jdbcType="CHAR" property="resourceTypeName"/>
        <result column="property_name" jdbcType="VARCHAR" property="propertyName"/>
        <result column="property_value" jdbcType="VARCHAR" property="propertyValue"/>
        <result column="parent_id" jdbcType="VARCHAR" property="parentId"/>
    </resultMap>

    <sql id="BaseColumn">
        property_id,resource_type,resource_type_name,property_name,property_value,parent_id
    </sql>

    <!-- SQL语句格式美化，关键字用大写字母 -->
    <insert id="addAuthorizationResourcePropertyModel" useGeneratedKeys="true" keyProperty="id" keyColumn="id">
        INSERT INTO
        <include refid="tableName"/>
        (
        resource_type_code,
        resource_type_name,
        property_name,
        property_value,
        parent_id
        )
        VALUES
        (
        #{resourceTypeCode},
        #{resourceTypeName},
        #{propertyName},
        #{propertyValue},
        #{parentId}
        )
    </insert>

    <update id="editAuthorizationResourcePropertyModel">
        UPDATE
        <include refid="tableName"/>
        SET
        resource_type_code = #{resourceTypeCode}
        <if test="resourceTypeName !=null and resourceTypeName !=''">
            ,resource_type_name = #{resourceTypeName}
        </if>
        <if test="propertyName !=null and propertyName !=''">
            ,property_name = #{propertyName}
        </if>
        <if test="propertyValue !=null and propertyValue !=''">
            ,property_value = #{propertyValue}
        </if>
        <if test="parentId !=null and parentId !=''">
            ,parent_id = #{parentId}
        </if>
        WHERE property_id = #{propertyId }
    </update>

    <delete id="batchDeleteAuthorizationResourceProperty">
        DELETE FROM
        <include refid="tableName"/>
        WHERE property_id in
        <foreach item="propertyId" collection="list" open="(" separator="," close=")">
            #{propertyId}
        </foreach>
    </delete>

    <select id="getAuthorizationResourcePropertyModelById" resultType="com.shsnc.base.authorization.model.AuthorizationResourcePropertyModel">
        SELECT * FROM
        <include refid="tableName"/>
        WHERE property_id = #{propertyId }
    </select>

    <select id="getAuthorizationResourcePropertyModelList" resultType="com.shsnc.base.authorization.model.AuthorizationResourcePropertyModel">
        SELECT *
        FROM
        <include refid="tableName"/>
        <include refid="conditionSql"/>
    </select>


    <select id="getCountByResourceTypeCodeAndPropertyValue" resultMap="BaseResultMap">
        SELECT * FROM
        <include refid="tableName"/>
        WHERE resource_type_code = #{resourceTypeCode } AND property_value = #{propertyValue }
    </select>

    <sql id="pageSql">
        <if test="pagination != null" >
            LIMIT #{pagination.start}, #{pagination.pagesize}
        </if>
    </sql>

    <sql id="orderSql">
        <if test="pagination != null and pagination.sorting != null">
            ORDER BY #{pagination.sorting}
        </if>
    </sql>

    <sql id="conditionSql">
        <where>
            <if test="condition != null">
                <if test="condition.resourceTypeCode != null and condition.resourceTypeCode != ''">
                    AND  resource_type_code = #{condition.resourceTypeCode}
                </if>
                <if test="condition.resourceTypeName !=null and condition.resourceTypeName !=''">
                    AND resource_type_name LIKE CONCAT('%', #{condition.resourceTypeName}, '%')
                </if>
                <if test="condition.propertyName !=null and condition.propertyName !=''">
                    AND property_name LIKE CONCAT('%', #{condition.propertyName}, '%')
                </if>
                <if test="condition.propertyValue !=null and condition.propertyValue > 0">
                    AND property_value = #{condition.propertyValue}
                </if>
                <if test="condition.parentId !=null and condition.parentId >= 0">
                    AND parent_id = #{condition.parentId}
                </if>
            </if>
        </where>
    </sql>

    <select id="getTotalCountByCondition" resultType="java.lang.Integer">
        SELECT
        COUNT(1)
        FROM
        <include refid="tableName"/>
        <include refid="conditionSql"/>
    </select>

    <select id="getPageByCondition" resultMap="BaseResultMap">
        SELECT
        <include refid="BaseColumn"/>
        FROM
        <include refid="tableName"/>
        <include refid="conditionSql"/>
        <include refid="orderSql"/>
        <include refid="pageSql"/>
    </select>
</mapper>